<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layout/head'); %>
    <script type="text/javascript" src="js/sdk.js"></script>
  </head>
  <body
    class="with-custom-webkit-scrollbars with-custom-css-scrollbars"
    data-dm-shortcut-enabled="true"
    data-set-preferred-mode-onload="true"
  >
    <div class="page-wrapper with-navbar with-navbar-fixed-bottom">
      <%- include('./layout/header'); %>

      <div class="content-wrapper">
        <div class="sticky-alerts"></div>
        <div class="d-flex justify-content-center">
          <div class="w-600 mw-full">
            <div class="card p-0">
              <img
                src="img/podo-1.gif"
                class="img-fluid rounded-top"
                alt="PodoAnimation1"
              />
              <div class="content">
                <h2 class="content-title">
                  Authorize your account to getting started with Podo!
                </h2>
                <div class="text-center">
                  <span class="text-muted">
                    You will be notified on Discord after logging in.
                  </span>
                </div>
                <hr />
                <div class="text-center mt-20">
                  <button
                    class="btn btn-success btn-sm"
                    type="button"
                    id="login"
                  >
                    Login with JotForm
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%- include('./layout/footer'); %>
    </div>
    <script>
      const discordId = '<%= discordId %>';
      const loginButton = document.querySelector('#login');

      loginButton.addEventListener('click', loginJotForm);

      async function loginJotForm() {
        await JF.login(async function () {
          const apiKey = await JF.getAPIKey();
          window.location.replace(
            `/oauth/result?apiKey=${apiKey}&discordId=${discordId}`
          );
        });
      }

      // Toasts
      const status = '<%= status %>';
      if (status === 'missingKey') {
        halfmoon.initStickyAlert({
          content:
            "Looks like we couldn't obtain your API Key. Please try logging in.",
          title: 'Oops.',
          alertType: 'alert-danger',
          fillType: 'filled-lm',
          timeShown: 15000,
        });
      }

      if (status === 'unauthorized') {
        halfmoon.initStickyAlert({
          content:
            'We are unable to authorize your account, this error is probably related to <strong>Jotform</strong> services. Try again later. ',
          title: 'Oops.',
          alertType: 'alert-danger',
          fillType: 'filled-lm',
          timeShown: 15000,
        });
      }
    </script>
  </body>
</html>
